<div class="text-center" style="margin-top: 10%">
  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem">
    <span class="sr-only">Esperando</span>
  </div>
</div>

<script>
  document.dispatchEvent(new Event('passwordless_login'))
</script>
